---
http_interactions:
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/variants/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Fri, 23 Sep 2016 19:46:36 GMT
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/variants.json
    body:
      encoding: UTF-8
      string: '{"variant":{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"susan","inventory_management":"shopify","updated_at":"2016-09-23T19:46:36.017Z","option1":"susan"}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Invalid Product"}'
  recorded_at: Fri, 23 Sep 2016 19:46:36 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Fri, 23 Sep 2016 19:46:37 GMT
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/products.json
    body:
      encoding: UTF-8
      string: '{"product":{"title":"Product Name","body_html":"\u003cp\u003eAs seen
        on TV!\u003c/p\u003e","created_at":"2016-09-23T19:58:54.432Z","updated_at":"2016-09-23T19:58:54.582Z","published_at":"2015-09-23T19:58:53.617Z","vendor":"Default
        Vendor","handle":"product-name","variants":[{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"SKU-1","inventory_management":"shopify","updated_at":"2016-09-23T19:58:54.499Z","option1":"SKU-1"},{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"susan","inventory_management":"shopify","updated_at":"2016-09-23T19:58:54.573Z","option1":"susan"}]}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products/8592093379
      X-Dc:
      - ash
    body:
      encoding: UTF-8
      string: '{"product":{"id":8592093379,"title":"Product Name","body_html":"\u003cp\u003eAs
        seen on TV!\u003c\/p\u003e","vendor":"Default Vendor","product_type":"","created_at":"2016-09-23T15:58:55-04:00","handle":"product-name-12","updated_at":"2016-09-23T15:58:55-04:00","published_at":"2015-09-23T15:58:53-04:00","template_suffix":null,"published_scope":"global","tags":"","variants":[{"id":28634787651,"product_id":8592093379,"title":"SKU-1","price":"19.99","sku":"SKU-1","position":1,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":"shopify","option1":"SKU-1","option2":null,"option3":null,"created_at":"2016-09-23T15:58:55-04:00","updated_at":"2016-09-23T15:58:55-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true},{"id":28634787715,"product_id":8592093379,"title":"susan","price":"19.99","sku":"susan","position":2,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":"shopify","option1":"susan","option2":null,"option3":null,"created_at":"2016-09-23T15:58:55-04:00","updated_at":"2016-09-23T15:58:55-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}],"options":[{"id":10316080259,"product_id":8592093379,"name":"Title","position":1,"values":["SKU-1","susan"]}],"images":[],"image":null}}'
  recorded_at: Fri, 23 Sep 2016 19:58:55 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8592093379.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X[...]
[...]
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8592093379/variants/28634787715.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"variant":{"id":28634787715,"product_id":8592093379,"title":"susan","price":"19.99","sku":"susan","position":2,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":"shopify","option1":"susan","option2":null,"option3":null,"created_at":"2016-09-23T15:58:55-04:00","updated_at":"2016-09-23T15:58:55-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}}'
  recorded_at: Fri, 23 Sep 2016 19:58:57 GMT
[...]
- request:
    method: delete
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8592093379.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 23 Sep 2016 19:58:59 GMT
recorded_with: VCR 3.0.3
