---
http_interactions:
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 6/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 6/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Fri, 23 Sep 2016 19:46:51 GMT
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/products.json
    body:
      encoding: UTF-8
      string: '{"product":{"title":"Product Name","body_html":"\u003cp\u003eAs seen
        on TV!\u003c/p\u003e","created_at":"2016-09-23T19:46:51.469Z","updated_at":"2016-09-23T19:46:51.539Z","published_at":"2015-09-23T19:46:51.425Z","vendor":"Default
        Vendor","handle":"product-name","variants":[{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"SKU-12","inventory_management":"shopify","updated_at":"2016-09-23T19:46:51.486Z","option1":"SKU-12"},{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"susan","inventory_management":"shopify","updated_at":"2016-09-23T19:46:51.528Z","option1":"susan"}]}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 6/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 6/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products/8591921475
      X-Dc:
      - ash
    body:
      encoding: UTF-8
      string: '{"product":{"id":8591921475,"title":"Product Name","body_html":"\u003cp\u003eAs
        seen on TV!\u003c\/p\u003e","vendor":"Default Vendor","product_type":"","created_at":"2016-09-23T15:46:52-04:00","handle":"product-name-12","updated_at":"2016-09-23T15:46:52-04:00","published_at":"2015-09-23T15:46:51-04:00","template_suffix":null,"published_scope":"global","tags":"","variants":[{"id":28634454659,"product_id":8591921475,"title":"SKU-12","price":"19.99","sku":"SKU-12","position":1,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":"shopify","option1":"SKU-12","option2":null,"option3":null,"created_at":"2016-09-23T15:46:52-04:00","updated_at":"2016-09-23T15:46:52-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true},{"id":28634454723,"product_id":8591921475,"title":"susan","price":"19.99","sku":"susan","position":2,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":"shopify","option1":"susan","option2":null,"option3":null,"created_at":"2016-09-23T15:46:52-04:00","updated_at":"2016-09-23T15:46:52-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}],"options":[{"id":10315860739,"product_id":8591921475,"name":"Title","position":1,"values":["SKU-12","susan"]}],"images":[],"image":null}}'
  recorded_at: Fri, 23 Sep 2016 19:46:52 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8591921475.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X[...]
[...]
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8591921475/variants/28634454723.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 7/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 7/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"variant":{"id":28634454723,"product_id":8591921475,"title":"susan","price":"19.99","sku":"susan","position":2,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":"shopify","option1":"susan","option2":null,"option3":null,"created_at":"2016-09-23T15:46:52-04:00","updated_at":"2016-09-23T15:46:52-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}}'
  recorded_at: Fri, 23 Sep 2016 19:46:53 GMT
- request:
    method: put
    uri: https://glossier-pop-staging.myshopify.com/admin/variants/28634454723.json
    body:
      encoding: UTF-8
      string: '{"variant":{"id":28634454723,"title":"susan","price":"19.99","sku":"susan","position":2,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":"shopify","option1":"susan","option2":null,"option3":null,"created_at":"2016-09-23T15:46:52-04:00","updated_at":"2016-09-23T19:46:51.528Z","[...]
[...]
- request:
    method: delete
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8591921475.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 9/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 9/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 23 Sep 2016 19:46:55 GMT
recorded_with: VCR 3.0.3
