---
http_interactions:
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 24/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 24/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Thu, 22 Sep 2016 14:37:10 GMT
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/products.json
    body:
      encoding: UTF-8
      string: '{"product":{"title":"Product Name","body_html":"\u003cp\u003eAs seen
        on TV!\u003c/p\u003e","created_at":"2016-09-22T14:37:09.338Z","updated_at":"2016-09-22T14:37:09.409Z","published_at":"2015-09-22T14:37:09.310Z","vendor":"Default
        Vendor","handle":"product-name","variants":[{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"SKU-10","updated_at":"2016-09-22T14:37:09.355Z","option1":"SKU-10"},{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"susan","updated_at":"2016-09-22T14:37:09.401Z","option1":"susan"}]}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 25/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 25/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products/8569480899
      X-Dc:
      - ash
    body:
      encoding: UTF-8
      string: '{"product":{"id":8569480899,"title":"Product Name","body_html":"\u003cp\u003eAs
        seen on TV!\u003c\/p\u003e","vendor":"Default Vendor","product_type":"","created_at":"2016-09-22T10:37:10-04:00","handle":"product-name-20","updated_at":"2016-09-22T10:37:10-04:00","published_at":"2015-09-22T10:37:09-04:00","template_suffix":null,"published_scope":"global","tags":"","variants":[{"id":28566711875,"product_id":8569480899,"title":"SKU-10","price":"19.99","sku":"SKU-10","position":1,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"SKU-10","option2":null,"option3":null,"created_at":"2016-09-22T10:37:10-04:00","updated_at":"2016-09-22T10:37:10-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true},{"id":28566711939,"product_id":8569480899,"title":"susan","price":"19.99","sku":"susan","position":2,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"susan","option2":null,"option3":null,"created_at":"2016-09-22T10:37:10-04:00","updated_at":"2016-09-22T10:37:10-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}],"options":[{"id":10290564419,"product_id":8569480899,"name":"Title","position":1,"values":["SKU-10","susan"]}],"images":[],"image":null}}'
  recorded_at: Thu, 22 Sep 2016 14:37:10 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8569480899.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X[...]
[...]
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8569480899/variants/28566711939.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 24/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 24/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"variant":{"id":28566711939,"product_id":8569480899,"title":"susan","price":"19.99","sku":"susan","position":2,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"susan","option2":null,"option3":null,"created_at":"2016-09-22T10:37:10-04:00","updated_at":"2016-09-22T10:37:10-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}}'
  recorded_at: Thu, 22 Sep 2016 14:37:11 GMT
- request:
    method: put
    uri: https://glossier-pop-staging.myshopify.com/admin/variants/28566711939.json
    body:
      encoding: UTF-8
      string: '{"variant":{"id":28566711939,"title":"susan","price":"19.99","sku":"new_sku","position":2,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"new_sku","option2":null,"option3":null,"created_at":"2016-09-22T10:37:10-04:00","updated_at":"2016-09-22T14:37:11.530Z","t[...]
[...]
- request:
    method: delete
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8569480899.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 26/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 26/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Thu, 22 Sep 2016 14:37:12 GMT
recorded_with: VCR 3.0.3
