---
http_interactions:
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Mon, 05 Dec 2016 17:52:30 GMT
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/products.json
    body:
      encoding: UTF-8
      string: '{"product":{"title":"Product #4 - 6559","body_html":"\u003cp\u003eAs
        seen on TV!\u003c/p\u003e","created_at":"2016-12-05T17:52:30.246Z","updated_at":"2016-12-05T17:52:30.283Z","published_at":"2015-12-05T17:52:30.236Z","vendor":"Default
        Vendor","handle":"product-4-6559","options":[{"name":"optionProduct #1 - 1400"},{"name":"optionProduct
        #2 - 8709"},{"name":"optionProduct #3 - 2106"}],"variants":[{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"SKUS-M/SKUS-1/SKUS-2/SKUS-3","updated_at":"2016-12-05T17:52:30.280Z","option1":"n/a","option2":"n/a","option3":"n/a"}]}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products/9111176771
      X-Dc:
      - ash
    body:
      encoding: UTF-8
      string: '{"product":{"id":9111176771,"title":"Product #4 - 6559","body_html":"\u003cp\u003eAs
        seen on TV!\u003c\/p\u003e","vendor":"Default Vendor","product_type":"","created_at":"2016-12-05T12:52:30-05:00","handle":"product-4-6559","updated_at":"2016-12-05T12:52:30-05:00","published_at":"2015-12-05T12:52:30-05:00","template_suffix":null,"published_scope":"global","tags":"","variants":[{"id":31898073923,"product_id":9111176771,"title":"n\/a
        \/ n\/a \/ n\/a","price":"19.99","sku":"SKUS-M\/SKUS-1\/SKUS-2\/SKUS-3","position":1,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"n\/a","option2":"n\/a","option3":"n\/a","created_at":"2016-12-05T12:52:30-05:00","updated_at":"2016-12-05T12:52:30-05:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}],"options":[{"id":10952592323,"product_id":9111176771,"name":"optionProduct
        #1 - 1400","position":1,"values":["n\/a"]},{"id":10952592387,"product_id":9111176771,"name":"optionProduct
        #2 - 8709","position":2,"values":["n\/a"]},{"id":10952592451,"product_id":9111176771,"name":"optionProduct
        #3 - 2106","position":3,"values":["n\/a"]}],"images":[],"image":null}}'
  recorded_at: Mon, 05 Dec 2016 17:52:30 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/9111176771.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X[...]
- request:
    method: delete
    uri: https://glossier-pop-staging.myshopify.com/admin/products/9111176771.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 3/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 3/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Mon, 05 Dec 2016 17:52:31 GMT
recorded_with: VCR 3.0.3
