---
http_interactions:
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Mon, 26 Sep 2016 19:29:03 GMT
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/products.json
    body:
      encoding: UTF-8
      string: '{"product":{"title":"Product #4 - 7830","body_html":"\u003cp\u003eAs
        seen on TV!\u003c/p\u003e","created_at":"2016-09-26T19:29:03.701Z","updated_at":"2016-09-26T19:29:03.755Z","published_at":"2015-09-26T19:29:03.687Z","vendor":"Default
        Vendor","handle":"product-4-7830","options":[{"name":"foo-size-4"},{"name":"foo-size-5"},{"name":"foo-size-6"}],"variants":[{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"SKUS-M/SKUS-1/SKUS-2/SKUS-3","updated_at":"2016-09-26T19:29:03.751Z","option1":"S","option2":"S","option3":"S"}]}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products/8628656643
      X-Dc:
      - ash
    body:
      encoding: UTF-8
      string: '{"product":{"id":8628656643,"title":"Product #4 - 7830","body_html":"\u003cp\u003eAs
        seen on TV!\u003c\/p\u003e","vendor":"Default Vendor","product_type":"","created_at":"2016-09-26T15:29:04-04:00","handle":"product-4-7830","updated_at":"2016-09-26T15:29:04-04:00","published_at":"2015-09-26T15:29:03-04:00","template_suffix":null,"published_scope":"global","tags":"","variants":[{"id":28816063363,"product_id":8628656643,"title":"S
        \/ S \/ S","price":"19.99","sku":"SKUS-M\/SKUS-1\/SKUS-2\/SKUS-3","position":1,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"S","option2":"S","option3":"S","created_at":"2016-09-26T15:29:04-04:00","updated_at":"2016-09-26T15:29:04-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}],"options":[{"id":10358601347,"product_id":8628656643,"name":"foo-size-4","position":1,"values":["S"]},{"id":10358601411,"product_id":8628656643,"name":"foo-size-5","position":2,"values":["S"]},{"id":10358601475,"product_id":8628656643,"name":"foo-size-6","position":3,"values":["S"]}],"images":[],"image":null}}'
  recorded_at: Mon, 26 Sep 2016 19:29:04 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8628656643.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X[...]
- request:
    method: delete
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8628656643.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Mon, 26 Sep 2016 19:29:05 GMT
recorded_with: VCR 3.0.3
