---
http_interactions:
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 30/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 30/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Fri, 23 Sep 2016 18:14:31 GMT
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/products.json
    body:
      encoding: UTF-8
      string: '{"product":{"title":"Product #14 - 6723","body_html":"\u003cp\u003eAs
        seen on TV!\u003c/p\u003e","created_at":"2016-09-23T18:14:31.781Z","updated_at":"2016-09-23T18:14:31.802Z","published_at":"2015-09-23T18:14:31.745Z","vendor":"Default
        Vendor","handle":"product-14-6723","variants":[{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"SKU-25","inventory_management":"shopify","updated_at":"2016-09-23T18:14:31.795Z","option1":"SKU-25"}]}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 31/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 31/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products/8590652419
      X-Dc:
      - ash
    body:
      encoding: UTF-8
      string: '{"product":{"id":8590652419,"title":"Product #14 - 6723","body_html":"\u003cp\u003eAs
        seen on TV!\u003c\/p\u003e","vendor":"Default Vendor","product_type":"","created_at":"2016-09-23T14:14:32-04:00","handle":"product-14-6723","updated_at":"2016-09-23T14:14:32-04:00","published_at":"2015-09-23T14:14:31-04:00","template_suffix":null,"published_scope":"global","tags":"","variants":[{"id":28631138947,"product_id":8590652419,"title":"SKU-25","price":"19.99","sku":"SKU-25","position":1,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":"shopify","option1":"SKU-25","option2":null,"option3":null,"created_at":"2016-09-23T14:14:32-04:00","updated_at":"2016-09-23T14:14:32-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}],"options":[{"id":10314154627,"product_id":8590652419,"name":"Title","position":1,"values":["SKU-25"]}],"images":[],"image":null}}'
  recorded_at: Fri, 23 Sep 2016 18:14:32 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8590652419.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X[...]
- request:
    method: put
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8590652419.json
    body:
      encoding: UTF-8
      string: '{"product":{"id":8590652419,"title":"Product #14 - 6723","body_html":"\u003cp\u003eAs
        seen on TV!\u003c/p\u003e","vendor":"Default Vendor","product_type":"","created_at":"2016-09-23T18:14:31.781Z","handle":"product-14-6723","updated_at":"2016-09-23T18:14:31.802Z","published_at":"2015-09-23T18:14:31.745Z","template_suffix":null,"published_scope":"global","tags":"","variants":[{"id":28631138947,"title":"SKU-25","price":"19.99","sku":"SKU-25","position":1,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":"shopify","option1":"SKU-25","option2":null,"option3":null,"created_at":"2016-09-23T14:14:32-04:00","updated_at":"2016-09-23T14:14:32-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}],"options":[{"id":10314154627,"product_id":8590652419,"name":"Title","position":1,"values":["SKU-25"]}],"images":[{"variant_ids":["28631138947"],"attachment":null}],"image":null}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 31/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - [...]
[...]
- request:
    method: delete
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8590653955.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 32/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 32/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Fri, 23 Sep 2016 18:14:38 GMT
recorded_with: VCR 3.0.3
