---
http_interactions:
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Thu, 29 Sep 2016 15:07:12 GMT
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/products.json
    body:
      encoding: UTF-8
      string: '{"product":{"title":"Product #4 - 6424","body_html":"\u003cp\u003eAs
        seen on TV!\u003c/p\u003e","created_at":"2016-09-29T15:07:12.235Z","updated_at":"2016-09-29T15:07:12.279Z","published_at":"2015-09-29T15:07:12.220Z","vendor":"Default
        Vendor","handle":"product-4-6424","options":[{"name":"foo-size-1"},{"name":"foo-size-2"},{"name":"foo-size-3"}],"variants":[{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"SKUS-M/SKUS-1/SKUS-2/SKUS-3","updated_at":"2016-09-29T15:07:12.276Z","option1":"S","option2":"S","option3":"S"}]}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products/8661794755
      X-Dc:
      - ash
    body:
      encoding: UTF-8
      string: '{"product":{"id":8661794755,"title":"Product #4 - 6424","body_html":"\u003cp\u003eAs
        seen on TV!\u003c\/p\u003e","vendor":"Default Vendor","product_type":"","created_at":"2016-09-29T11:07:12-04:00","handle":"product-4-6424","updated_at":"2016-09-29T11:07:13-04:00","published_at":"2015-09-29T11:07:12-04:00","template_suffix":null,"published_scope":"global","tags":"","variants":[{"id":29028577347,"product_id":8661794755,"title":"S
        \/ S \/ S","price":"19.99","sku":"SKUS-M\/SKUS-1\/SKUS-2\/SKUS-3","position":1,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"S","option2":"S","option3":"S","created_at":"2016-09-29T11:07:12-04:00","updated_at":"2016-09-29T11:07:12-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}],"options":[{"id":10399653827,"product_id":8661794755,"name":"foo-size-1","position":1,"values":["S"]},{"id":10399653891,"product_id":8661794755,"name":"foo-size-2","position":2,"values":["S"]},{"id":10399653955,"product_id":8661794755,"name":"foo-size-3","position":3,"values":["S"]}],"images":[],"image":null}}'
  recorded_at: Thu, 29 Sep 2016 15:07:13 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8661794755.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X[...]
[...]
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      Www-Authenticate:
      - Basic Realm="Shopify API Authentication"
      X-Dc:
      - ash,chi2
    body:
      encoding: UTF-8
      string: '{"errors":"[API] Invalid API key or access token (unrecognized login
        or wrong password)"}'
  recorded_at: Sat, 08 Apr 2017 15:59:08 GMT
recorded_with: VCR 3.0.3
