---
http_interactions:
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/orders.json
    body:
      encoding: UTF-8
      string: '{"order":{"email":"cab@godynamo.com","test":true,"fulfillment_status":"fulfilled","line_items":[{"variant_id":"447654529","quantity":1,"name":"test","price":100,"title":"title"}],"customer":{"first_name":"Paul","last_name":"Norman","email":"paul.norman@example.com"},"billing_address":{"first_name":"John","last_name":"Smith","address1":"123
        Fake Street","phone":"555-555-5555","city":"Fakecity","province":"Ontario","country":"Canada","zip":"K2P
        1L4"},"shipping_address":{"first_name":"John","last_name":"Smith","address1":"123
        Fake Street","phone":"555-555-5555","city":"Fakecity","province":"Ontario","country":"Canada","zip":"K2P
        1L4"},"transactions":[{"kind":"capture","status":"success","amount":100}],"financial_status":"paid"}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/orders/3782530051
      X-Dc:
      - ash
    body:
      encoding: UTF-8
      string: '{"order":{"id":3782530051,"email":"cab@godynamo.com","closed_at":null,"created_at":"2016-09-21T14:15:31-04:00","updated_at":"2016-09-21T14:15:31-04:00","number":380,"note":null,"token":"31f9ca1a8f891c71173b2cfe4b63d9c3","gateway":"","test":false,"total_price":"100.00","subtotal_price":"100.00","total_weight":0,"total_tax":"0.00","taxes_included":false,"currency":"CAD","financial_status":"paid","confirmed":true,"total_discounts":"0.00","total_line_items_price":"100.00","cart_token":null,"buyer_accepts_marketing":false,"name":"#1380","referring_site":null,"landing_site":null,"cancelled_at":null,"cancel_reason":null,"total_price_usd":"75.86","checkout_token":null,"reference":null,"user_id":null,"location_id":null,"source_identifier":null,"source_url":null,"processed_at":"2016-09-21T14:15:31-04:00","device_id":null,"browser_ip":null,"landing_site_ref":null,"order_number":1380,"discount_codes":[],"note_attributes":[],"payment_gateway_names":[""],"processing_method":"","checkout_id":null,"source_name":"1413328","fulfillment_status":"fulfilled","tax_lines":[],"tags":"","contact_email":"cab@godynamo.com","order_status_url":null,"line_items":[{"id":6982484739,"variant_id":null,"title":"title","quantity":1,"price":"100.00","grams":0,"sku":null,"variant_title":null,"vendor":null,"fulfillment_service":"manual","product_id":null,"requires_shipping":true,"taxable":true,"gift_card":false,"name":"title","variant_inventory_management":null,"properties":[],"product_exists":false,"fulfillable_quantity":0,"total_discount":"0.00","fulfillment_status":"fulfilled","tax_lines":[]}],"shipping_lines":[],"billing_address":{"first_name":"John","address1":"123
        Fake Street","phone":"555-555-5555","city":"Fakecity","zip":"K2P 1L4","province":"Ontario","country":"Canada","last_name":"Smith","address2":null,"company":null,"latitude":null,"longitude":null,"name":"John
        Smith","country_code":"CA","province_code":"ON"},"shipping_address":{"first_name":"John","address1":"123
        Fake Street","phone":"555-555-5555","city":"Fakecity","zip":"K2P 1L4","province":"Ontario","country":"Canada","last_name":"Smith","address2":null,"company":null,"latitude":null,"longitude":null,"name":"John
        Smith","country_code":"CA","province_code":"ON"},"fulfillments":[{"id":3093314563,"order_id":3782530051,"status":"success","created_at":"2016-09-21T14:15:31-04:00","service":"manual","updated_at":"2016-09-21T14:15:31-04:00","tracking_company":null,"shipment_status":null,"tracking_number":null,"tracking_numbers":[],"tracking_url":null,"tracking_urls":[],"receipt":{},"line_items":[{"id":6982484739,"variant_id":null,"title":"title","quantity":1,"price":"100.00","grams":0,"sku":null,"variant_title":null,"vendor":null,"fulfillment_service":"manual","product_id":null,"requires_shipping":true,"taxable":true,"gift_card":false,"name":"title","variant_inventory_management":null,"properties":[],"product_exists":false,"fulfillable_quantity":0,"total_discount":"0.00","fulfillment_status":"fulfilled","tax_lines":[]}]}],"refunds":[],"customer":{"id":3934271555,"email":"paul.norman@example.com","accepts_marketing":false,"created_at":"2016-08-10T15:41:49-04:00","updated_at":"2016-09-21T14:15:31-04:00","first_name":"John","last_name":"Smith","orders_count":4,"state":"disabled","total_spent":"400.00","last_order_id":3782530051,"note":null,"verified_email":true,"multipass_identifier":null,"tax_exempt":false,"tags":"","last_order_name":"#1380","default_address":{"id":4150214851,"first_name":"John","last_name":"Smith","company":null,"address1":"123
        Fake Street","address2":null,"city":"Fakecity","province":"Ontario","country":"Canada","zip":"K2P
        1L4","phone":"555-555-5555","name":"John Smith","province_code":"ON","country_code":"CA","country_name":"Canada","default":true}}}}'
  recorded_at: Wed, 21 Sep 2016 18:15:31 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/orders/3782530051.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-S[...]
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/orders/3782530051/transactions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"transactions":[{"id":4129097795,"order_id":3782530051,"amount":"100.00","kind":"capture","gateway":"","status":"success","message":null,"created_at":"2016-09-21T14:15:31-04:00","test":false,"authorization":null,"currency":"CAD","location_id":null,"user_id":null,"parent_id":null,"device_id":null,"receipt":{},"error_code":null,"source_name":"1413328"}]}'
  recorded_at: Wed, 21 Sep 2016 18:15:33 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/orders/3782530051/transactions/4129097795.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"transaction":{"id":4129097795,"order_id":3782530051,"amount":"100.00","kind":"capture","gateway":"","status":"success","message":null,"created_at":"2016-09-21T14:15:31-04:00","test":false,"authorization":null,"currency":"CAD","location_id":null,"user_id":null,"parent_id":null,"device_id":null,"receipt":{},"error_code":null,"source_name":"1413328"}}'
  recorded_at: Wed, 21 Sep 2016 18:15:34 GMT
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/orders/3782530051/refunds.json
    body:
      encoding: UTF-8
      string: '{"refund":{"shipping":{"amount":0},"note":null,"notify":false,"restock":false,"transactions":[{"parent_id":4129097795,"amount":"1.0","gateway":"shopify-payments","kind":"refund"}]}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/orders/3782530051/refunds/141851779
      X-Dc:
      - ash
    body:
      encoding: UTF-8
      string: '{"refund":{"id":141851779,"order_id":3782530051,"created_at":"2016-09-21T14:15:34-04:00","note":null,"restock":false,"user_id":0,"refund_line_items":[],"transactions":[{"id":4129098371,"order_id":3782530051,"amount":"1.00","kind":"refund","gateway":"","status":"success","message":"Refunded
        1.00 from manual gateway","created_at":"2016-09-21T14:15:34-04:00","test":false,"authorization":null,"currency":"CAD","location_id":null,"user_id":null,"parent_id":4129097795,"device_id":null,"receipt":{},"error_code":null,"source_name":"1413328"}],"order_adjustments":[{"id":102950979,"order_id":3782530051,"refund_id":141851779,"amount":"-1.00","tax_amount":"0.00","kind":"refund_discrepancy","reason":"Refund
        discrepancy"}]}}'
  recorded_at: Wed, 21 Sep 2016 18:15:34 GMT
[...]
- request:
    method: delete
    uri: https://glossier-pop-staging.myshopify.com/admin/orders/3782530051.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - "/admin/orders"
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Wed, 21 Sep 2016 18:15:35 GMT
recorded_with: VCR 3.0.3
