---
http_interactions:
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 24/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 24/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Mon, 19 Sep 2016 22:03:22 GMT
[...]
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/products.json
    body:
      encoding: UTF-8
      string: '{"product":{"title":"Product Name","body_html":"\u003cp\u003eAs seen
        on TV!\u003c/p\u003e","created_at":"2016-09-19T22:03:22.371Z","updated_at":"2016-09-19T22:03:22.392Z","published_at":"2015-09-19T22:03:22.339Z","vendor":"Default
        Vendor","handle":"product-name","variants":[{"weight":"0.0","weight_unit":"oz","price":"19.99","sku":"SKU-11","inventory_management":"shopify","updated_at":"2016-09-19T22:03:22.387Z","option1":"SKU-11"}]}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 25/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 25/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products/8519118083
      X-Dc:
      - ash
    body:
      encoding: UTF-8
      string: '{"product":{"id":8519118083,"title":"Product Name","body_html":"\u003cp\u003eAs
        seen on TV!\u003c\/p\u003e","vendor":"Default Vendor","product_type":"","created_at":"2016-09-19T18:03:22-04:00","handle":"product-name-1","updated_at":"2016-09-19T18:03:22-04:00","published_at":"2015-09-19T18:03:22-04:00","template_suffix":null,"published_scope":"global","tags":"","variants":[{"id":28426476611,"product_id":8519118083,"title":"SKU-11","price":"19.99","sku":"SKU-11","position":1,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":"shopify","option1":"SKU-11","option2":null,"option3":null,"created_at":"2016-09-19T18:03:22-04:00","updated_at":"2016-09-19T18:03:22-04:00","taxable":true,"barcode":null,"image_id":null,"inventory_quantity":1,"weight":0.0,"weight_unit":"oz","old_inventory_quantity":1,"requires_shipping":true}],"options":[{"id":10231022595,"product_id":8519118083,"name":"Title","position":1,"values":["SKU-11"]}],"images":[],"image":null}}'
  recorded_at: Mon, 19 Sep 2016 22:03:23 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8519118083.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X[...]
[...]
- request:
    method: delete
    uri: https://glossier-pop-staging.myshopify.com/admin/products/8519118083.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 27/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 27/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/products
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Mon, 19 Sep 2016 22:03:24 GMT
recorded_with: VCR 3.0.3
