---
http_interactions:
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/customers/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash,chi2
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Mon, 17 Oct 2016 20:34:34 GMT
- request:
    method: post
    uri: https://glossier-pop-staging.myshopify.com/admin/customers.json
    body:
      encoding: UTF-8
      string: '{"customer":{"email":"example@gmail.com","first_name":"John","last_name":"Doe","verified_email":true,"default_address":{"address1":"10
        Lovely Street","address2":"Northwest","city":"Herndon","first_name":"John","last_name":"Doe","phone":"555-555-0199","zip":"69616-5449","province":"Alabama","country_code":"USA","updated_at":"2016-10-17T20:34:34.122Z"}}}'
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - https://glossier-pop-staging.myshopify.com/admin/customers/4557428163
      X-Dc:
      - ash,chi2
    body:
      encoding: UTF-8
      string: '{"customer":{"id":4557428163,"email":"example@gmail.com","accepts_marketing":false,"created_at":"2016-10-17T16:34:34-04:00","updated_at":"2016-10-17T16:34:34-04:00","first_name":"John","last_name":"Doe","orders_count":0,"state":"disabled","total_spent":"0.00","last_order_id":null,"note":null,"verified_email":true,"multipass_identifier":null,"tax_exempt":false,"tags":"","last_order_name":null,"addresses":[]}}'
  recorded_at: Mon, 17 Oct 2016 20:34:34 GMT
- request:
    method: get
    uri: https://glossier-pop-staging.myshopify.com/admin/customers/4557428163.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      X-Dc:
      - ash,chi2
    body:
      encoding: ASCII-8BIT
      string: '{"customer":{"id":4557428163,"email":"example@gmail.com","accepts_marketing":false,"created_at":"2016-10-17T16:34:34-04:00","updated_at":"2016-10-17T16:34:34-04:00","first_name":"John","last_name":"Doe","orders_count":0,"state":"disabled","total_spent":"0.00","last_order_id":null,"note":null,"verified_email":true,"multipass_identifier":null,"tax_exempt":false,"tags":"","last_order_name":null,"addresses":[]}}'
  recorded_at: Mon, 17 Oct 2016 20:34:35 GMT
- request:
    method: delete
    uri: https://glossier-pop-staging.myshopify.com/admin/customers/4557428163.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MWI3ZjYzYmYyNDg4MzFjN2FlMmJlYWNmOWJjMzBiYmI6YjFjOTE1NTE1ZDA4ZTIwMzc5MzBhODQ0Zjc0MzY2MTA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shopid:
      - '6779563'
      X-Shardid:
      - '2'
      X-Shopify-Shop-Api-Call-Limit:
      - 3/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 3/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1413328'
      X-Stats-Apipermissionid:
      - '23658502'
      Location:
      - "/admin/customers"
      X-Dc:
      - ash,chi2
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Mon, 17 Oct 2016 20:34:35 GMT
recorded_with: VCR 3.0.3
